/* .card {
    width: 300px ;
    height: 110px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    align-items: center;
    justify-content: center;
    margin:40px;
    padding:10px;
   }
   
   .shadow {
    box-shadow: inset 0 -3em 3em rgba(137, 196, 244, 0.009  ),
    0 0  0 2px rgb(30, 144, 255),
    0.3em 0.3em 1em rgba(0,0,255,0.3);
   } */
   .card {
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin: 8px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  }
  
  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  .bg-gray-100 {
    background-color: #f7fafc;
  }
  